/*
  Name: Jordan Fleming
  Date: 10/6/2024

  Styling for my portfolio site to show off latest projects.

  Background Photo by https://unsplash.com/@anniespratt?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash Annie Spratt on https://unsplash.com/photos/a-white-sheet-of-paper-with-a-brown-border-xTaOPMa6wAE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash
  
*/

body {
  background-image: url("images\\resumebackground.jpg");
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: xx-large
}


#resumeBody {
  background-image: url("images\\resumebackground.jpg");
  text-align: center;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

ul {
  list-style-position: inside;
}

#introSection {
  display: flex;
}


#headshot {
  height: 200px;
  border-radius: 25px;
}

#dogsupport {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#izaya {
  height: 300px;
  width: 250px;
  border-radius: 25%;
}

#eevee {
  height: 300px;
  width: 250px;
  border-radius: 25%;
}

blockquote {
  text-align: center;
}

h3 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
}